.card{
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.card img{
    width: 250px;
}
.btn{
    width: 100%;
}
.futer{
    background-color: gray;
}
.zak{
    background-color: #FFF0F0;
    border: none;
    border-radius: 20px;
}
